$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-sun: "\e905";
$icon-cloud-drizzle: "\e900";
$icon-cloud-lightning: "\e901";
$icon-cloud-snow: "\e902";
$icon-cloud-rain: "\e903";
$icon-cloud: "\e904";
$icon-trash: "\e92e";
$icon-search: "\e92f";

