$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-compass: "\e900";
$icon-location: "\e900";
$icon-map: "\e900";
$icon-Fahrenheit: "\e901";
$icon-temperature: "\e901";
$icon-Celsius: "\e902";
$icon-temperature1: "\e902";
$icon-thermometer: "\e903";
$icon-temperature2: "\e903";
$icon-lightning: "\e904";
$icon-clouds: "\e904";
$icon-weather: "\e904";
$icon-cloudy: "\e905";
$icon-weather1: "\e905";
$icon-clouds1: "\e905";
$icon-weather2: "\e906";
$icon-cloud: "\e906";
$icon-snowy: "\e907";
$icon-cloud1: "\e907";
$icon-weather3: "\e907";
$icon-snowy1: "\e908";
$icon-cloud2: "\e908";
$icon-weather4: "\e908";
$icon-windy: "\e909";
$icon-rainy: "\e909";
$icon-weather5: "\e909";
$icon-cloud3: "\e909";
$icon-windy1: "\e90a";
$icon-cloud4: "\e90a";
$icon-weather6: "\e90a";
$icon-rainy1: "\e90b";
$icon-cloud5: "\e90b";
$icon-weather7: "\e90b";
$icon-rainy2: "\e90c";
$icon-cloud6: "\e90c";
$icon-weather8: "\e90c";
$icon-lightning1: "\e90d";
$icon-weather9: "\e90d";
$icon-cloud7: "\e90e";
$icon-weather10: "\e90e";
$icon-cloud8: "\e90f";
$icon-night: "\e90f";
$icon-weather11: "\e90f";
$icon-cloudy1: "\e910";
$icon-weather12: "\e910";
$icon-moon: "\e911";
$icon-night1: "\e911";
$icon-weather13: "\e911";
$icon-sun: "\e912";
$icon-weather14: "\e912";
$icon-lightning2: "\e913";
$icon-clouds2: "\e913";
$icon-weather15: "\e913";
$icon-cloud9: "\e914";
$icon-lightning3: "\e914";
$icon-weather16: "\e914";
$icon-cloudy2: "\e915";
$icon-weather17: "\e915";
$icon-clouds3: "\e915";
$icon-weather18: "\e916";
$icon-cloud10: "\e916";
$icon-snowy2: "\e917";
$icon-weather19: "\e917";
$icon-cloud11: "\e917";
$icon-snowy3: "\e918";
$icon-weather20: "\e918";
$icon-cloud12: "\e918";
$icon-snowy4: "\e919";
$icon-weather21: "\e919";
$icon-cloud13: "\e919";
$icon-windy2: "\e91a";
$icon-rainy3: "\e91a";
$icon-weather22: "\e91a";
$icon-cloud14: "\e91a";
$icon-windy3: "\e91b";
$icon-weather23: "\e91b";
$icon-cloud15: "\e91b";
$icon-rainy4: "\e91c";
$icon-weather24: "\e91c";
$icon-cloud16: "\e91c";
$icon-rainy5: "\e91d";
$icon-weather25: "\e91d";
$icon-cloud17: "\e91d";
$icon-lightning4: "\e91e";
$icon-weather26: "\e91e";
$icon-cloud18: "\e91e";
$icon-lightning5: "\e91f";
$icon-weather27: "\e91f";
$icon-cloud19: "\e91f";
$icon-cloud20: "\e920";
$icon-weather28: "\e920";
$icon-lines: "\e921";
$icon-list: "\e921";
$icon-weather29: "\e921";
$icon-weather30: "\e922";
$icon-cloud21: "\e922";
$icon-weather31: "\e923";
$icon-weather32: "\e924";
$icon-cloud22: "\e925";
$icon-night2: "\e925";
$icon-weather33: "\e925";
$icon-cloudy3: "\e926";
$icon-weather34: "\e926";
$icon-snowflake: "\e927";
$icon-gear: "\e927";
$icon-weather35: "\e927";
$icon-wind: "\e928";
$icon-weather36: "\e928";
$icon-windy4: "\e929";
$icon-weather37: "\e929";
$icon-sun1: "\e92a";
$icon-weather38: "\e92a";
$icon-moon1: "\e92b";
$icon-night3: "\e92b";
$icon-weather39: "\e92b";
$icon-sun2: "\e92c";
$icon-weather40: "\e92c";
$icon-sunrise: "\e92d";
$icon-dawn: "\e92d";
$icon-weather41: "\e92d";
$icon-trash-2: "\e92e";
$icon-search: "\e92f";

